<div id="desktop_templates">
    <img src="/assets/img/logo-joi-white.png">
    <ul id="menu">
        <li class="el-bg" data-el="Summary">
            <a href="summary.html">
                <img src="/assets/img/icon-summary.png">
                <span>Summary</span>
            </a>
        </li>
        <li class="el-bg" data-el="Board">
            <a href="board.html">
                <div>
                    <div>
                        <img src="/assets/img/icon-board.png">
                    </div>
                    <span>Board</span>
                </div>
            </a>
        </li>
        <li class="el-bg" data-el="Add Task">
            <a href="add_task.html">
                <div>
                    <img src="/assets/img/icon-addtask.png">
                </div>
                <span>Add Task</span>
            </a>
        </li>
        <li class="el-bg" data-el="Contacts">
            <a href="contacts.html">
                <div>
                    <div>
                        <img src="/assets/img/icon-contacts.png">
                    </div>
                    <span>Contacts</span>
                </div>
            </a>
        </li>
    </ul>
    <div id="legal-notice" class="el-bg" data-el="Legal Notice">
        <a href="#">
            <div>
                <div>
                    <img src="/assets/img/icon-info.png">
                </div>
                <span>Legal notice</span>
            </div>
        </a>
    </div>
</div>