<div id="addtask-form">
    <div id="img-close-res">
        <img onclick="closeTaskForm()" id="close-task-form" src="./assets/img/close-form.png">
    </div>
    <div id="a-t-form-headline">
        <h1>Add Task</h1>
    </div>
    <form onsubmit="saveTask(); return false;">
        <div id="a-t-form-content" class="wrap">
            <div id="a-t-left">
                <div id="o-t-edit-title" class="edit-task-title">
                    <label for="o-t-input-title">Title</label>
                    <input id="o-t-input-title" type="text" placeholder="Enter a title" required>
                    <p class="d-none">This field is required</p>
                </div>
                <div id="o-t-description" class="task-description">
                    <label for="o-t-textarea-description">Description</label>
                    <textarea name="" id="o-t-textarea-description" cols="" rows="" placeholder="Enter a Description"
                        required></textarea>
                    <p class="d-none">This field is required</p>
                </div>
                <div id="o-t-edit-category" class="task-assigned">
                    <div id="o-t-e-label" class="assigned-label">Category</div>
                    <div class="o-t-e-custom-select">
                        <div id="new-category-div" class="task-invite-input d-none">
                            <input oninput="showCategoryColor(event)" id="new-category-input" type="text"
                                placeholder="New category name">
                            <div>
                                <button onclick="closeSelectCatergory()" type="button" class="btn-invite"
                                    id="btn-cancel-select-category"><img src="./assets/img/cancel-input.png"></button>
                                <img src="./assets/img/vertical-line-gray.png">
                                <button onclick="confirmCreateCategory()" type="button" class="btn-invite"
                                    id="btn-confirm-select-category"><img src="./assets/img/confirm-user.png"></button>
                            </div>
                        </div>
                        <div id="selected-category-div" onclick="toggleCategoryHidden(event)"
                            class="o-t-e-select-trigger">
                            <input id="selected-category-input" type="text" placeholder="Select task category" required
                                readonly>
                            <img src="./assets/img/select-icon.png" alt="">
                            <div id="selected-category-color" class="d-none"></div>
                        </div>
                        <ul id="category-option" class="o-t-e-select-options d-none">
                            <li class="new-category" data-value="New Category">
                                <span>New Category</span>
                                <div class="user-icon">
                                </div>
                            </li>
                            <li data-value="Sales" data-color="252, 113, 255">
                                <span>Sales</span>
                                <div style="background-color: rgb(252, 113, 255);" class="category-color"></div>
                            </li>
                            <li data-value="BackOffice" data-color="21, 215, 193">
                                <span>BackOffice</span>
                                <div style="background-color: rgb(31, 215, 193);" class="category-color"></div>
                            </li>
                            <li data-value="Design" data-color="255, 122, 0">
                                <span>Design</span>
                                <div style="background-color: rgb(255, 122, 0);" class="category-color"></div>
                            </li>
                            <li data-value="Marketing" data-color="0, 56, 255">
                                <span>Marketing</span>
                                <div style="background-color: rgb(0, 56, 255);" class="category-color"></div>
                            </li>
                            <li data-value="Media" data-color="255, 199, 1">
                                <span>Media</span>
                                <div style="background-color: rgb(255, 199, 1);" class="category-color"></div>
                            </li>
                        </ul>
                    </div>
                    <div id="category-color-div" class="d-none">
                        <ul>
                            <li>
                                <div data-color="252, 113, 255" style="background-color: rgb(252, 113, 255);"></div>
                            </li>
                            <li>
                                <div data-color="31, 215, 193" style="background-color: rgb(31, 215, 193);"></div>
                            </li>
                            <li>
                                <div data-color="255, 122, 0" style="background-color: rgb(255, 122, 0);"></div>
                            </li>
                            <li>
                                <div data-color="12, 200, 11" style="background-color: rgb(12, 200, 11);"></div>
                            </li>
                            <li>
                                <div data-color="0, 56, 255" style="background-color: rgb(0, 56, 255);"></div>
                            </li>
                            <li>
                                <div data-color="2, 200, 111" style="background-color: rgb(2, 200, 111);"></div>
                            </li>
                            <li>
                                <div data-color="255, 199, 1" style="background-color: rgb(255, 199, 1);"></div>
                            </li>
                        </ul>
                    </div>
                    <p id="category-wrong" class="wrong d-none">This field is required</p>
                </div>
                <div id="o-t-edit-assigned" class="task-assigned">
                    <div id="o-t-e-label" class="assigned-label">Assigned to</div>
                    <div class="o-t-e-custom-select">
                        <div id="user-invite-div" class="task-invite-input d-none">
                            <input id="user-invite-input" type="email" placeholder="Contact email">
                            <div>
                                <button onclick="closeUserInviteField()" type="button" class="btn-invite"
                                    id="btn-cancel-user-invite"><img src="./assets/img/cancel-input.png"></button>
                                <img src="./assets/img/vertical-line-gray.png">
                                <button onclick="confirmUserInvite()" type="button" class="btn-invite"
                                    id="btn-confirm-user-invite"><img src="./assets/img/confirm-user.png"></button>
                            </div>
                        </div>
                        <div id="selected-assigned-div" onclick="toggleAssignedHidden(event)"
                            class="o-t-e-select-trigger">
                            <input id="selected-assigned-input" type="text" placeholder="Select contacts to assign"
                                required readonly>
                            <img src="./assets/img/select-icon.png" alt="">
                        </div>
                        <ul id="assigned-option" class="o-t-e-select-options d-none"></ul>
                    </div>
                    <div id="task-assigned-div" class="d-none">
                        <ul id="task-assigned-ul"></ul>
                    </div>
                    <p id="assigned-wrong" class="wrong d-none">This field is required</p>
                </div>
            </div>
            <img src="./assets/img/form-line-1.png" alt="">
            <div id="a-t-right">
                <div id="o-t-edit-date" class="task-date">
                    <label for="o-t-date-input">Due date</label>
                    <input placeholder="dd/mm/yyyy" type="date" id="o-t-date-input" name="" min="yyyy-mm-dd" required />
                    <p class="d-none">This field is required</p>
                </div>
                <div id="o-t-edit-prio" class="task-prio-choise">
                    <span>Prio</span>
                    <div class="o-t-edit-button-container">
                        <div>
                            <button onclick="settaskPrioValue(event)" type="button" class="o-t-edit-priority-button o-t-edit-urgent"
                                data-priority="urgent">
                                <span>Urgent</span>
                                <img src="./assets/img/prio-baja-urgent.png">
                                <img src="./assets/img/prio-baja-white-urgent.png">
                            </button>
                        </div>
                        <div>
                            <button onclick="settaskPrioValue(event)" type="button" class="o-t-edit-priority-button o-t-edit-medium"
                                data-priority="medium">
                                <span>Medium</span>
                                <img src="./assets/img/prio-baja-medium.png">
                                <img src="./assets/img/prio-baja-white-medium.png">
                            </button>
                        </div>
                        <div>
                            <button onclick="settaskPrioValue(event)" type="button" class="o-t-edit-priority-button o-t-edit-low" data-priority="low">
                                <span>Low</span>
                                <img src="./assets/img/prio-baja-low.png">
                                <img src="./assets/img/prio-baja-white-low.png">
                            </button>
                        </div>
                    </div>
                    <p id="prio-wrong" class="wrong d-none">This field is required</p>
                </div>
                <div id="o-t-edit-subtask" class="task-assigned">
                    <div id="o-t-e-label" class="assigned-label">Subtasks</div>
                    <div class="o-t-e-custom-select">
                        <div onclick="subTaskInputFocus()" id="new-subtask-div" class="task-invite-input">
                            <input id="subtask-input" oninput="showBtns(event)" type="text"
                                placeholder="Add new subtask">
                            <div>
                                <button onclick="cancelInputSubTask()" type="button" class="btn-invite d-none"
                                    id="btn-cancel-subtask"><img src="./assets/img/cancel-input.png"></button>
                                <img id="img-separate-line" src="./assets/img/vertical-line-gray.png" class="d-none">
                                <button onclick="showSubTask()" type="button" class="btn-invite d-none"
                                    id="btn-confirm-subtask"><img src="./assets/img/confirm-user.png"></button>
                                <button onclick="subTaskInputFocus()" type="button" class="btn-invite"
                                    id="plus-subtask"><img src="./assets/img/plus-subtask.png"></button>
                            </div>
                        </div>
                    </div>
                    <ul id="subtask-ul" class="ul-subtasks"></ul>
                </div>
            </div>
        </div>
        <div id="form-btns">
            <div>
                <div>
                    <button onclick="clearTaskForm()" type="button" id="btn-clear-task">
                        <span>Clear</span>
                        <img src="./assets/img/cancel-normal.png">
                        <img src="./assets/img/cancel-hover.png">
                        <img src="./assets/img/cancel-active.png">
                    </button>
                    <button id="btn-create-task">
                        <span>Create Task</span>
                        <img src="./assets/img/create-task.png">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>