<div>
    <div id="top">
        <span id="top-headline">Kanban Project Management Tool</span>
        <div id="top-right">
            <a href="help.html">
                <img src="/assets/img/help-icon.png">
            </a>
            <div onclick="toggleLogOut()" class="img-avatar">
                <div>
                    <img class="img-circle" src="/assets/img/circle-icon.png">
                    <div class="img-div">
                        <img src="/assets/img/avatar-img.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="btn-log-out" class="d-none">
        <a href="help.html" style="display: none;">
            <div>
                <span>Help</span>
            </div>
        </a>
        <a href="legal_notice.html" style="display: none;">
            <div>
                <span>Legal Notice</span>
            </div>
        </a>
        <a href="index.html">
            <div>
                <span>Log out</span>
            </div>
        </a>
    </div>
</div>