<div>
    <div id="top">
        <span id="top-headline">Kanban Project Management Tool</span>
        <div id="top-right">
            <a href="help.html">
                <img src="/assets/img/help-icon.png">
            </a>
            <div class="img-avatar">
                <div>
                    <img class="img-circle" src="/assets/img/circle-icon.png">
                    <div class="img-div">
                        <img src="/assets/img/avatar-img.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="btn-log-out">
        <div>
            <span>Log out</span>
        </div>
    </button>
</div>